@import url('standard.css');

.total-wrapper {
    min-height: 100vh;
    background-color: #10141c;
}

.main-page-body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #080e18;
    color: #d2d2d2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 200px;
}

.footer a {
    margin: 5px;
}

.title h1 {
    color: #d2d2d2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.sign-button {
    border-radius: 40px;
    background-image: linear-gradient(90deg, rgba(73,195,204,1) 0%, rgba(52,171,200,1) 100%);
    border: 0;
    color: #d2d2d2;
    transition: transform 0.7s;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 200px;
    padding: 10px 10px;
    position: fixed;
    right: 50px;
}

.sign-button:hover {
    transform: translateY(-5px);
}

.title-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    height: 20vh;
}

.welcome-text {
    color: #d2d2d2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-left: 10px;
}

.choice-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #080e18 5px 5px 5px;
    width: 300px;
    background-color: #151a24;
    color: #d2d2d2;
    height: 350px;
    border-radius: 10px;
    transition: transform 0.5s;
    margin: 20px;
}

.choice-box:hover {
    transform: translateY(-15px);
}

.choice-box h2 {
    color: #d2d2d2;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.choices-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.choice-icon {
    height: 40%;
    margin-bottom: 50px;
}

.sign-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #080e18 5px 5px 5px;
    width: 30%;
    background-color: #151a24;
    color: #d2d2d2;
    min-height: 40%;
    border-radius: 10px;
    margin-bottom: 20vh;
}

.sign-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.sign-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
}

.input-div {
    color: #a2a2a2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
    width: 70%;
}

.input-div input {
    background-color: #080e18;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 0;
    -webkit-transition : border 500ms ease-out;
    -moz-transition : border 500ms ease-out;
    -o-transition : border 500ms ease-out;
    transition : border 500ms ease-out;
}

.input-div input:focus {
    outline: none;
    border: solid #49C3CC 1px;
    /*transition: 1s;*/
}

.sign-button-form {
    border-radius: 40px;
    background-image: linear-gradient(90deg, rgb(73, 195, 204) 0%, rgb(52, 171, 200) 100%);
    border: 0;
    color: #d2d2d2;
    transition: transform 0.7s;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 200px;
    padding: 10px 10px;
    margin-top: 5%;
}

.sign-button-form:hover {
    transform: translateY(-5px);
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
    background-size: 100% 100%;
}

section .wave.wave1 {
    animation: animate 60s linear infinite;
    z-index: -1;
    opacity: 0.5;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 45s linear infinite;
    z-index: -2;
    opacity: 0.25;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 500px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

.sign-box h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 20px;
}

.link {
    margin-left: 5px;
    color: #49C3CC;
}

.link:hover, .link:active {
    text-decoration: none;
    color: #49C3CC;
}
