@import url('standard.css');

@media only screen and (max-width: 940px) {
    .total-wrapper {
        min-height: 100vh;
        background-color: #10141c;
    }

    .main-page-body {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 200px);
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*position: fixed;*/
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #080e18;
        color: #d2d2d2;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        height: 200px;
    }

    .footer a {
        margin: 5px;
    }

    .title h1 {
        font-size: 35px;
        color: #d2d2d2;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
    }

    .main-button {
        border-radius: 40px;
        background-image: linear-gradient(90deg, rgba(73, 195, 204, 1) 0%, rgba(52, 171, 200, 1) 100%);
        border: 0;
        color: #d2d2d2;
        transition: transform 0.7s;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding: 5px 10px;
        text-align: center;
        font-size: 15px;
        width: 150px;
    }

    .main-button:hover {
        transform: translateY(-5px);
    }

    .sign-button {
        position: absolute;
        right: 40px;
        margin-top: 25px;
    }

    .title-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 20px;
        padding-left: 20px;
        height: 20vh;
    }

    .title-box-vertical {
        margin-top: 120px;
    }

    .welcome-text {
        color: #d2d2d2;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 20px;
        margin-left: 10px;
    }

    .choice-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: #080e18 5px 5px 5px;
        width: 250px;
        background-color: #151a24;
        color: #d2d2d2;
        height: 250px;
        border-radius: 10px;
        transition: transform 0.5s;
        margin: 20px;
    }

    .choice-box:hover {
        transform: translateY(-15px);
    }

    .choice-box h2 {
        color: #d2d2d2;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 17px;
    }

    .choices-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 180px;
    }

    .choice-icon {
        height: 40%;
        margin-bottom: 50px;
    }

    .sign-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: #080e18 5px 5px 5px;
        width: 90%;
        background-color: #151a24;
        color: #d2d2d2;
        min-height: 40%;
        border-radius: 10px;
        margin-top: 50px;
        /*margin-bottom: 20vh;*/
    }

    .redirection, .redirection:hover, .redirection:active {
        color: #49C3CC;
        text-decoration: none;
        margin-bottom: 9px;
    }

    .sign-page-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 80vh;
    }

    .sign-box form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 30px 0;
    }

    .input-div {
        color: #a2a2a2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 10px;
        width: 100%;
    }

    .input-div input::placeholder {
        font-size: 15px;
    }

    .input-div input, textarea, select {
        background-color: #080e18;
        border: none;
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        border: 0;
        -webkit-transition: border 500ms ease-out;
        -moz-transition: border 500ms ease-out;
        -o-transition: border 500ms ease-out;
        transition: border 500ms ease-out;
        color: #a4a4a4;
    }

    .input-div textarea {
        height: 300px;
    }

    .input-div input:focus, .input-div textarea:focus, .input-div select:focus {
        outline: none;
        border: solid #49C3CC 1px;
        /*transition: 1s;*/
    }

    .read-only:focus {
        border: none !important;
    }

    .sign-button-form {
        margin-top: 5%;
    }

    section {
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        z-index: 1;
    }

    section .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
        background-size: 100% 100%;
    }

    section .wave.wave1 {
        animation: animate 60s linear infinite;
        z-index: -1;
        opacity: 0.5;
        animation-delay: 0s;
        bottom: 0;
    }

    section .wave.wave2 {
        animation: animate2 45s linear infinite;
        z-index: -2;
        opacity: 0.25;
        animation-delay: -5s;
        bottom: 10px;
    }

    @keyframes animate {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 500px;
        }
    }

    @keyframes animate2 {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: -1000px;
        }
    }

    .sign-box h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        margin: 20px;
    }

    .link {
        margin-left: 5px;
        color: #49C3CC;
    }

    .link:hover, .link:active {
        text-decoration: none;
        color: #49C3CC;
    }

    .question-box {
        width: 90%;
        margin-top: 50px;
    }

    .question-box form {
        margin: 20px 0;
        width: 90%;
    }

    .form-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .cancel-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        color: #ef5f5f;
        transition: transform 0.7s;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 15px;
        padding: 10px 0 0 40px;
        margin-top: 5%;
    }

    .cancel-button:hover {
        text-decoration: none;
        color: #ef5f5f;
        transform: translateY(-5px);
    }

    .answers-box {
        background-color: #080e18;
        border: none;
        border-radius: 5px;
        /*padding: 5px;*/
        width: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 18px;
        border: 0;
        color: #a4a4a4;
        max-height: 500px;
        overflow-y: auto;
    }

    .answer-box {
        padding: 5px 10px 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .answer-details {
        width: 100%;
        font-size: 15px;
        margin: 20px 0;
    }

    .answer-details h3 {
        display: inline;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #49C3CC;
        padding: 3px 7px;
    }

    .answer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 50px;
        font-style: italic;
    }

    .no-right-padding {
        padding-right: 0 !important;
    }

    .top-quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: 'Catamaran', sans-serif;
        font-size: 50px;
        height: 20px;
    }

    .bottom-quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-family: 'Catamaran', sans-serif;
        font-size: 50px;
        margin-top: 30px;
        height: 20px;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    .footer a {
        color: #d2d2d2;
        transition: 0.5s;
    }

    .footer a:hover {
        color: #797979;
        text-decoration: none;
    }

    .questions-keyword {
        padding: 5px 5px 2px 5px;
        width: 90%;
        margin-top: 60px;
        margin-bottom: 0;
    }

    .questions-keyword-button {
        margin: 10px;
    }

    .link-to, .link-to:hover, .link-to:active {
        text-decoration: none;
        color: currentColor;
    }

    .filters-keywords {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .filters-keywords input {
        width: 60%;
    }

    .filter-buttons {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
        margin-left: 5px;
    }

    .filter-button {
        background-color: transparent;
        border: none;
        transition: transform 0.7s;
    }

    .filter-button:hover {
        transform: translateY(-5px);
    }

    .filter {
        color: rgba(73, 195, 204, 1);
    }

    .clear {
        color: #d2d2d2;
    }

    .filters-period {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .filters-period input {
        /*margin-left: 2%;*/
    }

    .filters-period-column {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 1%;
    }

    .filters-period h3 {
        font-size: 15px;
        font-weight: normal;
        /*width: 5%;*/
        margin-left: 5%;
    }

    .account-div {
        width: 25%;
        position: absolute;
        left: 45px;
        /*position: fixed;*/
        /*left: 0;*/
        padding: 20px 10% 0 0;
        text-align: center;
        vertical-align: center;
        transition: transform 0.7s;
    }

    .account-div:hover {
        transform: translateY(-5px);
    }

    .account-div img {
        width: 50px;
    }

    .account-div h1 {
        display: none;
    }

    .carousel {
        width: 100%;
        height: 500px;
        background-color: #080e18;
        overflow-y: auto;
        border-radius: 5px;
    }

    .carousel-item {
        /*padding-left: 15%;*/
        padding-top: 30px;
    }

    .carousel-item h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
    }

    .account-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 95%;
    }

    .account-info-box {
        margin-top: 180px;
    }

    .account-box-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 10px 10px 0;
        width: 100%;
    }

    .account-box-item h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: normal;
        color: #cacaca;
    }
}
